[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.pr3
Exec=/usr/bin/ru.auroraos.pr3
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=pr3
ExecDBus=/usr/bin/ru.auroraos.pr3
